<!-- app/templates/home/dashboard.html -->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Keemail</h1>
                    <h4>Keemail is a platform that allow you to generate aliases so you do not have to expose your
                        public email again. As Keepass let you generate unique passwords for each accounts that you
                        have, Keemail allow you to generate random email addresses (or customized ones). All incoming
                        email on those addresses are redirected to another email address. Nothing stored, nothing
                        analyzed, privacy first. It also allows users to generates aliases from an API to allow them to
                        integrate Keemail into their favorite tools.
                    </h4>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}